<div class="row">
    <font color="white"><h1>Experiencia laboral</h1></font>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
        
          <li>  <h1>Dueño de PaneLed'S</h1> - <h3>2017-actualidad</h3> </li>
            <p>Emprendimiento de luminarias led diseñadas para el cultivo en interiores de hortalizas. Actualmente siendo un microemprendimiento con un crecimiento constante y afianzandose dia a dia en el mercado. </p>
             <ul><li> <p>  Tareas realizadas:
                    -Fabricacion
                    -Venta 
                    -Control de stock 
                    -Diseño
                    -Distribucion
                    -Desarrollo de redes sociales
            
            </p>
            </li>
             </ul>
        </ul>
        <ul>
            <li>
                <h1>Socio en La Bode Wine & Growshop</h1> - <h3>2020-2022</h3>
            </li>
            <p>Tienda de vinos y delicatesen, con anexo de insumos para cultivo de hortalizas.</p>
            <ul><li> <p>  Tareas realizadas:
                -Atencion al publico
                -Control de stock
        </p>
        </li>
         </ul>
        </ul>
    </div>
</div>