<div class="row">
    <font color="white"><h1>Hard & Soft skills</h1></font>
     <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="65"
            [radius]="80"
            [imageSrc]="'../../../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="65"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#8c58a9da'"
            [innerStrokeColor]="'#b5abd4'"
            [animation]="true"
            [animationDuration]="500">   
        </circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="90"
            [radius]="80"
            [imageSrc]="'../../../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#8c58a9da'"
            [innerStrokeColor]="'#b5abd4'"
            [animation]="true"
            [animationDuration]="700">   
        </circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="50"
            [radius]="80"
            [imageSrc]="'../../../assets/git.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#8c58a9da'"
            [innerStrokeColor]="'#b5abd4'"
            [animation]="true"
            [animationDuration]="500">   
        </circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="60"
            [radius]="80"
            [imageSrc]="'../../../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#8c58a9da'"
            [innerStrokeColor]="'#b5abd4'"
            [animation]="true"
            [animationDuration]="500">   
        </circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="65"
            [radius]="80"
            [imageSrc]="'../../../assets/html.png'"
            [showImage]="true"
            [imageHeight]="65"
            [imageWidth]="70"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#8c58a9da'"
            [innerStrokeColor]="'#b5abd4'"
            [animation]="true"
            [animationDuration]="500">   
        </circle-progress>
    </div>   
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="65"
            [radius]="80"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#8c58a9da'"
            [innerStrokeColor]="'#b5abd4'"
            [animation]="true"
            [animationDuration]="500">   
        </circle-progress>
    </div>   
</div>

