<div class="container">
    <div class="row">
        <div class="column-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/PerfilFoto.jpg" 
                class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
           <font color="white"> <h3>Cerioni Emiliano</h3></font>
           <font color="white"> <h6>Full Stack Developer Jr</h6></font>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <font color="white"><h3>Acerca de mi</h3></font>
                <p>Emprendedor y curioso, si no puedo con algo intento hasta lograrlo. Viviendo en Cordoba </p>
            </span>
        </div>
    </div> 
</div>