<div class="row">
    <font color="white"><h1>Educacion</h1></font>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Secundario Completo</h1> - <h3>2005-2010</h3>
            </li>
            <p>I.P.E.M.y T. Nº 280 AGUSTIN TOSCO</p>
            <ul><li> <p> Orientacion en ciencias naturales y produccion de bienes y servicios.
            
        </p>
        </li>
         </ul>
        
        </ul>
        <ul>
            <li>
                <h1>Agrimensura UNC</h1> - <h3>2013-2019</h3>
            </li>
            <p>Cursado de la carrera de grado Agrimensura en la Universidad Nacional de Cordoba.</p>
        </ul>
    
    </div>
</div>
